*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #0074d9;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

header > a{
    color: white;
}

a{
    text-decoration: none;
}

footer{
    background-color: #333;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p{
    color: white;
}

body{
    display: grid;
    grid-template-rows: 150px 1fr 150px;
}

main{
    padding: 30px;
}

li{
    margin: 10px 0;
    font-size: 18px;
}

ul{
    list-style: none;
    margin: auto;
    text-align: center;
}

a{
    color: #333;
    transition: opacity 0.5s;
}

a:hover{
    opacity: 0.8;
}